<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fakenewsdetectorv2">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".notification"
        android:allowBackup="true"
        android:linksClickable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FND"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FakeNewsDetectorV2">
        <activity android:name=".Result"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".MainService"/>
    </application>

</manifest>